<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/include/top"></div>
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">회원 가입 완료</h3></div>
                                   	<div align="center">
                                    <br/><br/>
                                   	회원 가입이 완료되었습니다.!!
                                   	<br/><br/>
                                   	</div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/login.do">로그인 페이지로 이동하기</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                </main>
    
<div th:replace="/include/bottom"></div>
