<!--  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 -->
 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "E:\DTD\mybatis-3-mapper.dtd">
 <mapper namespace="com.rubypaper.money.MoneyDao">
  
  <select id="MoneyList" parameterType="com.rubypaper.money.MoneyVO"
                    resultType="com.rubypaper.money.MoneyVO" >
	
select m1.custno, custname ,grade , sum(price) money from money_tbl_02 m1 join member_tbl_02 m2
on m1.custno=m2.custno
group by m1.custno, custname,grade
order by sum(price) desc
    
  </select> 
 
  
 </mapper>