<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
width:800px;
height:300px;
}
tr{
text-align : center;
}
#tdleft{
text-align : left;
}
</style>

</head>
<body>
<div th:replace="/include/top"></div>

<section>

<br><br>
<div align=center> 

  <h1> 회원 매출 조회</h1>
  <table border=1>
   <tr> <td>회원번호</td><td> 이름 </td><td> 고객등급 </td><td> 매출 </td>
   </tr>
  
     <tr th:each="m : ${li}"> 
     <td th:text="${m.custno}"/> 
     <td th:text="${m.custname}"/>  
     <td th:text="${m.grade}"/>
     <td th:text="${m.money}"/>

     
  </table>
  
</div>
<br>
</section>
<div th:replace="/include/bottom::footer"></div>
</body>
</html>