<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
width:800px;
}
tr{
text-align : center;
}
.tdleft{
text-align : left;
}
</style>

</head>
<body>
<div th:replace="/include/top"></div>

<section>

<br><br>
<div align=center> 


  <h1> 방명록 </h1>

<h1 th:if="${li.isEmpty()}">검색 결과가 없습니다.</h1>
  <table border=1 th:if="${not li.isEmpty()}">
   <tr>
    <td>idx</td><td> 이름 </td><td> 메모 </td><td> 날짜 </td>
   </tr>
  
     <tr th:each="m : ${li}"> 
     <td th:text="${m.idx}"/> 
     <td class="tdleft" th:text="${m.name}"/>  
     <td class="tdleft" th:text="${m.memo}"/>
     <td th:text="${#dates.format(m.today, 'yyyy년MM월dd일')}"/>
        
    </tr> 
  </table>
<form action="/guestbookList.do">
  <select name="ch1">
	  <option value=name>이 름</option>
	  <option value=memo>메 모</option>
  </select>
	  <input type=text name="ch2">
	  <input type=submit value="검색하기">
</form>

<!-- 페이지 나누기 -->
<a  th:href="@{/guestbookList.do(start=1, ch1=${ch1}, ch2=${ch2})}"
	 th:text="처음페이지"></a>&nbsp; 

 <th:black th:if="${listStartPage > pageListSize}"  th:with="start=${(listStartPage - pageListSize -1) * pageSize  + 1}">  
	 <a  th:href="@{/guestbookList.do(start=${start}, ch1=${ch1}, ch2=${ch2})}"
	     th:text="이전10페이지"></a>&nbsp;
 </th:black>
 <th:black th:if="${listStartPage <= pageListSize}"  > 	 
	    이전10페이지
 </th:black>

  
<th:block th:each="i : ${#numbers.sequence(listStartPage,listEndPage)}">
    <th:black th:with="start=${(i-1) * pageSize + 1}"> 
      <th:black th:if="${i <= totalPage }">
	  [<a th:href="@{/guestbookList.do(start=${start}, ch1=${ch1}, ch2=${ch2})}"
	     th:text="${i}"></a>]&nbsp;
	  </th:black>
	<th:black>
</th:block>

 <th:black th:if="${listEndPage < totalPage}"  th:with="start  =${listEndPage * pageSize + 1}">  
	 <a  th:href="@{/guestbookList.do(start=${start}, ch1=${ch1}, ch2=${ch2})}"
	     th:text="다음10페이지"></a>&nbsp;
 </th:black>
 <th:black th:if="${listEndPage >= totalPage}"  > 	 
	    다음10페이지
 </th:black>		
  
  
 <th:black th:with="endPage =${( totalPage - 1) * pageSize + 1}">  
	 <a  th:href="@{/guestbookList.do(start=${endPage}, ch1=${ch1}, ch2=${ch2})}"
	     th:text="마지막페이지"></a>&nbsp;
 </th:black>	
  
</div>
<br>
</section>
<div th:replace="/include/bottom::footer"></div>
</body>
</html>